<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="LogFilePath" value="D:\SellIntegroProjekt\Logs\SellIntegroProgramLogs.txt" />
    <add key="BaseLinkerToken" value="Z54W5htc0Ark9zGmulKgEbBZyjJBSGw83dEuy+WR/53JxDuVpbEFnX6MxKAwIXH2IKhmkHxLLPxLhAbaVtfde1cS/Xx148RHxhT3nLZ9SLcsUvH6NGai53rgpIz8Ka45" />
    <add key="BaseLinkerUrl" value="https://api.baselinker.com/connector.php" />
    <add key="LoggingType" value="0" />  <!--0 - Console and File output     1 - Console output    2- File output-->
  </appSettings>
</configuration>